button {
    margin: 5%;
    background-color: #ed3b3b;
    padding: 10px;
    border-radius: 20%;
    cursor: pointer;
    color: white;
}

.container {
    margin: 5%;
    display: block;
}

.title {
    font-size: 25px;
    color: red;
    justify-self: center;
}
.subTitle{
    font-size: 20px;
    color: black;
    justify-content: left;
}
.form-group {
    display: flex;
    align-items: center;
    /* Căn giữa hàng dọc */
    margin-bottom: 10px;
}

label {
    width: 100px;
    /* Đặt độ rộng cố định cho label */
    margin-right: 10px;
    /* Khoảng cách giữa label và input */
    text-align: right;
    /* Căn phải nội dung của label */
}

input {
    display: inline-block;
    padding: 5px;
    width: 500px;
}
li{
    font-size: 16px;
    margin: 2%;
}